Generated RSK fails test when creating a user

Aside from some data corrupted/printf issues evident in the output (which might well be a clue), the RSK fails to verify when creating a user:

```
ES ERROR: SAKKE Validate RSK, Validation failed <[a]P + Z, K_(a,T)> != g!
ES ERROR: SAKKE Validate RSK, the keyset for the id MUST be revoked!
ES ERROR: User Storage Store User, RSK validation internal failure, check error log!
ES ERROR: (KMS)   Failed to create User <2029-02.tel:12986123>!
```

Do you have any clues as to what could be causing this? The eccsi-sakke library demos work correctly, so this is a little strange given that KMS is calling that for the critical functions. 

```

    Main Menu
    =========
        0 Exit
        1 KMS Management
        2 Community Management
        3 User Management
    Selection: 1

    KMS Menu
    --------
        0 - Return to previous menu
        1 - List KMS
        2 - Add KMS
        3 - Delete KMS
        4 - List KMS Details
    Selection: 1

    Stored KMS are:
        aliceandbob.co.uk

    KMS Menu
    --------
        0 - Return to previous menu
        1 - List KMS
        2 - Add KMS
        3 - Delete KMS
        4 - List KMS Details
    Selection: 0

    Main Menu
    =========
        0 Exit
        1 KMS Management
        2 Community Management
        3 User Management
    Selection: 2

    Community Menu
    --------------
        0 - Return to previous menu
        1 - List Communities
        2 - Add Community
        3 - Delete Community
        4 - List Community Details
    Selection: 1

    Stored communities are:
        aliceandbob.co.uk

    Community Menu
    --------------
        0 - Return to previous menu
        1 - List Communities
        2 - Add Community
        3 - Delete Community
        4 - List Community Details
    Selection: 4

    Community to list details for:
    ------------------------------
            1 - aliceandbob.co.uk
        Selection: 1

    ++++++++++++++++++++++++++++++++++++++++++++++++++
    Contents of Community file:
        /storage/ms/communities/aliceandbob.co.uk

Version:
    �

CertUri:
    aliceandbob.co.uk

KmsUri:
    aliceandbob.co.uk

Issuer:
    {

ValidFrom:
    {

ValidTo:
    {

Revoked:
    TRUE

UserIdFormat:
    Ҁ

PubEncKey:
    045958EF 1B1679BF 099B3A03 0DF255AA
    6A23C1D8 F143D4D2 3F753E69 BD27A832
    F38CB4AD 53DDEF42 60B0FE8B B45C4C1F
    F510EFFE 300367A3 7B61F701 D914AEF0
    9724825F A0707D61 A6DFF4FB D7273566
    CDDE352A 0B04B7C1 6A78309B E640697D
    E747613A 5FC195E8 B9F32885 2A579DB8
    F99B1D00 34479EA9 C5595F47 C4B2F54F
    F21508D3 7514DCF7 A8E143A6 058C09A6
    BF2C9858 CA37C258 065AE6BF 7532BC8B
    5B633838 66E0753C 5AC0E727 09F8445F
    2E6178E0 65857E0E DA10F682 06B63505
    ED87E534 FB2831FF 957FB7DC 619DAE61
    301EEACC 2FDA3680 EA499925 8A833CEA
    8FC67C6D 19487FB4 49059F26 CC8AAB65
    5AB58B7C C796E24E 9A394095 754F5F8B
    AE

PubAuthKey:
    0450D467 0BDE7524 4F28D283 8A0D2555
    8A7A7268 6D4522D4 C8273FB6 442AEBFA
    93DBDD37 551AFD26 3B5DFD61 7F3960C6
    5A8C2988 50FF99F2 0366DCE7 D4367217
    F4

KmsDomainList:
    {

    ++++++++++++++++++++++++++++++++++++++++++++++++++

    Community Menu
    --------------
        0 - Return to previous menu
        1 - List Communities
        2 - Add Community
        3 - Delete Community
        4 - List Community Details
    Selection: 0

    Main Menu
    =========
        0 Exit
        1 KMS Management
        2 Community Management
        3 User Management
    Selection: 3

    UserMenu
    --------
        0 - Return to previous menu
        1 - List Users
        2 - Add User
        3 - Delete User
        4 - List User Details (to send)
    Selection: 1

    Stored Users are:

    UserMenu
    --------
        0 - Return to previous menu
        1 - List Users
        2 - Add User
        3 - Delete User
        4 - List User Details (to send)
    Selection: 2
        Note! entries are not validated.
        Enter date validity for new User (YYYY-MM): 2029-02
        Enter identify of new User (e.g. tel:+number): tel:12986123
        Which community is the new user part of:
            1 - aliceandbob.co.uk
        Selection: 1
        Do you want to use RFC values, rather than random? (y/n): y
ES DEBUG: (KMS)        user:
ES DEBUG: (KMS)             2029-02.tel:12986123.
ES DEBUG: (KMS)     Create RSK
ES DEBUG: (KMS)     ==========
ES DEBUG: (KMS)        user:
ES DEBUG: (KMS)             2029-02.tel:12986123.
ES DEBUG: (KMS)         z_T:
ES DEBUG: (KMS)             0AFF429D 5F84B11D 09480335 95A6E998
ES DEBUG: (KMS)             BC99
ES DEBUG: (KMS)          q:
ES DEBUG: (KMS)             265EAEC7 C2958FF6 99718466 36B4195E
ES DEBUG: (KMS)             905B0338 672D2098 6FA6B8D6 2CF8068B
ES DEBUG: (KMS)             BD02AAC9 F8BF03C6 C8A1CC35 4C69672C
ES DEBUG: (KMS)             39E46CE7 FDF22286 4D5B49FD 2999A9B4
ES DEBUG: (KMS)             389B1921 CC9AD335 144AB173 595A0738
ES DEBUG: (KMS)             6DABFD2A 0C614AA0 A9F3CF14 870F026A
ES DEBUG: (KMS)             A7E535AB D5A5C7C7 FF38FA08 E2615F6C
ES DEBUG: (KMS)             203177C4 2B1EB3A1 D99B601E BFAA17FB
ES DEBUG: (KMS)         RSK:
ES DEBUG: (KMS)             0459BCA8 C8BCBD4D 8C9458D9 A67A54AC
ES DEBUG: (KMS)             546E169E BA8BD0B6 76A6A27E 5F46CBE8
ES DEBUG: (KMS)             6916DAA9 61D5EF25 2074ABF2 BB29319A
ES DEBUG: (KMS)             51FD218F B8B08372 CDE3D4E7 93AF4EAA
ES DEBUG: (KMS)             F9A42E85 400B45FF 846BDA3A A697029E
ES DEBUG: (KMS)             E3829EE4 085E8736 E28E6E3A 6EE1F03B
ES DEBUG: (KMS)             31CA9262 77AC3890 CC2B0568 459F5491
ES DEBUG: (KMS)             3A210697 9E920C76 908220F5 3988A295
ES DEBUG: (KMS)             2A82BEB5 6C63248B EB624B66 2FDD2C9D
ES DEBUG: (KMS)             05095281 DE770CAA 38AD77F9 EE83673A
ES DEBUG: (KMS)             429CF4F1 89DE1400 3ABC03E0 B6FBD02F
ES DEBUG: (KMS)             2C5BFEA9 BADB5327 F9D6327B DA02EBD2
ES DEBUG: (KMS)             5BE21709 4BC8B9CD E6498401 B40E5151
ES DEBUG: (KMS)             38C4029A FC3CECA9 C5EBDF66 3DCFB277
ES DEBUG: (KMS)             3FD508A2 5AE20D1F 499D1D55 9B8D7779
ES DEBUG: (KMS)             CC889F60 8A01811F 75F7F9DA 55687D8E
ES DEBUG: (KMS)             A4
ES DEBUG: (KMS)     Creating SSK/PVT pair for User
ES DEBUG: (KMS)     ==============================
ES DEBUG: (KMS)        user:
ES DEBUG: (KMS)             2029-02.tel:12986123.
ES DEBUG: (KMS)           G:
ES DEBUG: (KMS)             046B17D1 F2E12C42 47F8BCE6 E563A440
ES DEBUG: (KMS)             F277037D 812DEB33 A0F4A139 45D898C2
ES DEBUG: (KMS)             964FE342 E2FE1A7F 9B8EE7EB 4A7C0F9E
ES DEBUG: (KMS)             162BCE33 576B315E CECBB640 6837BF51
ES DEBUG: (KMS)             F5
ES DEBUG: (KMS)         1) Choose a random (ephemeral) non zero element of F_q!!
ES DEBUG: (KMS)         2) Compute PVT (Public Validation Token) PVT = v[G]
ES DEBUG: (KMS)         PVT (Public Validation Token, one per subscriber) :
ES DEBUG: (KMS)           x:
ES DEBUG: (KMS)             758A1427 79BE89E8 29E71984 CB40EF75
ES DEBUG: (KMS)             8CC4AD77 5FC5B9A3 E1C8ED52 F6FA36D9
ES DEBUG: (KMS)           y:
ES DEBUG: (KMS)             A79D2476 92F4EDA3 A6BDAB77 D6AA6474
ES DEBUG: (KMS)             A464AE49 34663C52 65BA7018 BA091F79
ES DEBUG: (KMS)         KSAK (KMS Secret Authentication Key NEVER leaves KMS):
ES DEBUG: (KMS)             012345
ES DEBUG: (KMS)         KPAK ('x' and 'y' coords):
ES DEBUG: (KMS)           x:
ES DEBUG: (KMS)             50D4670B DE75244F 28D2838A 0D25558A
ES DEBUG: (KMS)             7A72686D 4522D4C8 273FB644 2AEBFA93
ES DEBUG: (KMS)           y:
ES DEBUG: (KMS)             DBDD3755 1AFD263B 5DFD617F 3960C65A
ES DEBUG: (KMS)             8C298850 FF99F203 66DCE7D4 367217F4
ES DEBUG: (KMS)         3) Compute the hash HS = hash(G || KPAK || ID || PVT)
ES DEBUG: (KMS)          KPAK (KMS Public Authentication Key for all users in community):
ES DEBUG: (KMS)             0450D467 0BDE7524 4F28D283 8A0D2555
ES DEBUG: (KMS)             8A7A7268 6D4522D4 C8273FB6 442AEBFA
ES DEBUG: (KMS)             93DBDD37 551AFD26 3B5DFD61 7F3960C6
ES DEBUG: (KMS)             5A8C2988 50FF99F2 0366DCE7 D4367217
ES DEBUG: (KMS)             F4
ES DEBUG: (KMS)         ID (Subscriber Identity):
ES DEBUG: (KMS)             32303239 2D303200 74656C3A 31323938
ES DEBUG: (KMS)             36313233 00
ES DEBUG: (KMS)         PVT (Public Validation Token for subscriber):
ES DEBUG: (KMS)             04758A14 2779BE89 E829E719 84CB40EF
ES DEBUG: (KMS)             758CC4AD 775FC5B9 A3E1C8ED 52F6FA36
ES DEBUG: (KMS)             D9A79D24 7692F4ED A3A6BDAB 77D6AA64
ES DEBUG: (KMS)             74A464AE 4934663C 5265BA70 18BA091F
ES DEBUG: (KMS)             79
ES DEBUG: (KMS)         4) Compute SSK = (KSAK + HS * v) modulo q
ES DEBUG: (KMS)         HS - hash (RFC 6507 Appendix A, page 14):
ES DEBUG: (KMS)             B9C3DF3C 320C3587 7AB420FC 96AD64EA
ES DEBUG: (KMS)             125B5021 74E3F6E3 50588705 8AA11254
ES DEBUG: (KMS)          q:
ES DEBUG: (KMS)             FFFFFFFF 00000000 FFFFFFFF FFFFFFFF
ES DEBUG: (KMS)             BCE6FAAD A7179E84 F3B9CAC2 FC632551
ES DEBUG: (KMS)         SSK (Secret Signing Key for subscriber):
ES DEBUG: (KMS)             EF9F35FC B606DC57 112F90D0 A0940268
ES DEBUG: (KMS)             2052DF4D 915872FD 61A4DFCB D9EA24AC
ES DEBUG: (KMS)         5) If SSK or HS is zero modulo q, the KMS MUST erase
ES DEBUG: (KMS)            the SSK and abort and restart with a fresh value of v
ES DEBUG: (KMS)             SSK check (mod q)  != 0 - succeeded
ES DEBUG: (KMS)             hash check (mod q) != 0 - succeeded
ES DEBUG: (KMS)         6) Output (SSK, PVT) pair and erase value of 'v'
ES DEBUG: (KMS)         PVT (Public Validation Token for subscriber):
ES DEBUG: (KMS)             04758A14 2779BE89 E829E719 84CB40EF
ES DEBUG: (KMS)             758CC4AD 775FC5B9 A3E1C8ED 52F6FA36
ES DEBUG: (KMS)             D9A79D24 7692F4ED A3A6BDAB 77D6AA64
ES DEBUG: (KMS)             74A464AE 4934663C 5265BA70 18BA091F
ES DEBUG: (KMS)             79
ES DEBUG: (KMS)         SSK (Secret Signing Key for subscriber):
ES DEBUG: (KMS)             EF9F35FC B606DC57 112F90D0 A0940268
ES DEBUG: (KMS)             2052DF4D 915872FD 61A4DFCB D9EA24AC
ES DEBUG: (SAKKE)               RSK:
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    59BCA8C8 BCBD4D8C 9458D9A6 7A54AC54
ES DEBUG: (SAKKE)                    6E169EBA 8BD0B676 A6A27E5F 46CBE869
ES DEBUG: (SAKKE)                    16DAA961 D5EF2520 74ABF2BB 29319A51
ES DEBUG: (SAKKE)                    FD218FB8 B08372CD E3D4E793 AF4EAAF9
ES DEBUG: (SAKKE)                    A42E8540 0B45FF84 6BDA3AA6 97029EE3
ES DEBUG: (SAKKE)                    829EE408 5E8736E2 8E6E3A6E E1F03B31
ES DEBUG: (SAKKE)                    CA926277 AC3890CC 2B056845 9F54913A
ES DEBUG: (SAKKE)                    2106979E 920C7690 8220F539 88A2952A
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    82BEB56C 63248BEB 624B662F DD2C9D05
ES DEBUG: (SAKKE)                    095281DE 770CAA38 AD77F9EE 83673A42
ES DEBUG: (SAKKE)                    9CF4F189 DE14003A BC03E0B6 FBD02F2C
ES DEBUG: (SAKKE)                    5BFEA9BA DB5327F9 D6327BDA 02EBD25B
ES DEBUG: (SAKKE)                    E217094B C8B9CDE6 498401B4 0E515138
ES DEBUG: (SAKKE)                    C4029AFC 3CECA9C5 EBDF663D CFB2773F
ES DEBUG: (SAKKE)                    D508A25A E20D1F49 9D1D559B 8D7779CC
ES DEBUG: (SAKKE)                    889F608A 01811F75 F7F9DA55 687D8EA4
ES DEBUG: (SAKKE)              RFC 6508 6.1.2.
ES DEBUG: (SAKKE)              1) The following MUST hold < [a]P + Z, K_(a,T) > = g,
ES DEBUG: (SAKKE)                 where a is interpreted as an integer
ES DEBUG: (SAKKE)               Z:
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    5958EF1B 1679BF09 9B3A030D F255AA6A
ES DEBUG: (SAKKE)                    23C1D8F1 43D4D23F 753E69BD 27A832F3
ES DEBUG: (SAKKE)                    8CB4AD53 DDEF4260 B0FE8BB4 5C4C1FF5
ES DEBUG: (SAKKE)                    10EFFE30 0367A37B 61F701D9 14AEF097
ES DEBUG: (SAKKE)                    24825FA0 707D61A6 DFF4FBD7 273566CD
ES DEBUG: (SAKKE)                    DE352A0B 04B7C16A 78309BE6 40697DE7
ES DEBUG: (SAKKE)                    47613A5F C195E8B9 F328852A 579DB8F9
ES DEBUG: (SAKKE)                    9B1D0034 479EA9C5 595F47C4 B2F54FF2
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    1508D375 14DCF7A8 E143A605 8C09A6BF
ES DEBUG: (SAKKE)                    2C9858CA 37C25806 5AE6BF75 32BC8B5B
ES DEBUG: (SAKKE)                    63383866 E0753C5A C0E72709 F8445F2E
ES DEBUG: (SAKKE)                    6178E065 857E0EDA 10F68206 B63505ED
ES DEBUG: (SAKKE)                    87E534FB 2831FF95 7FB7DC61 9DAE6130
ES DEBUG: (SAKKE)                    1EEACC2F DA3680EA 4999258A 833CEA8F
ES DEBUG: (SAKKE)                    C67C6D19 487FB449 059F26CC 8AAB655A
ES DEBUG: (SAKKE)                    B58B7CC7 96E24E9A 39409575 4F5F8BAE
ES DEBUG: (SAKKE)                a aka 'identifier':
ES DEBUG: (SAKKE)                  32303239 2D303200 74656C3A 31323938
ES DEBUG: (SAKKE)                  36313233 00
ES DEBUG: (SAKKE)                K_(a,T) aka Kb(RFC 6508 Appendix A, page 18):
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    59BCA8C8 BCBD4D8C 9458D9A6 7A54AC54
ES DEBUG: (SAKKE)                    6E169EBA 8BD0B676 A6A27E5F 46CBE869
ES DEBUG: (SAKKE)                    16DAA961 D5EF2520 74ABF2BB 29319A51
ES DEBUG: (SAKKE)                    FD218FB8 B08372CD E3D4E793 AF4EAAF9
ES DEBUG: (SAKKE)                    A42E8540 0B45FF84 6BDA3AA6 97029EE3
ES DEBUG: (SAKKE)                    829EE408 5E8736E2 8E6E3A6E E1F03B31
ES DEBUG: (SAKKE)                    CA926277 AC3890CC 2B056845 9F54913A
ES DEBUG: (SAKKE)                    2106979E 920C7690 8220F539 88A2952A
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    82BEB56C 63248BEB 624B662F DD2C9D05
ES DEBUG: (SAKKE)                    095281DE 770CAA38 AD77F9EE 83673A42
ES DEBUG: (SAKKE)                    9CF4F189 DE14003A BC03E0B6 FBD02F2C
ES DEBUG: (SAKKE)                    5BFEA9BA DB5327F9 D6327BDA 02EBD25B
ES DEBUG: (SAKKE)                    E217094B C8B9CDE6 498401B4 0E515138
ES DEBUG: (SAKKE)                    C4029AFC 3CECA9C5 EBDF663D CFB2773F
ES DEBUG: (SAKKE)                    D508A25A E20D1F49 9D1D559B 8D7779CC
ES DEBUG: (SAKKE)                    889F608A 01811F75 F7F9DA55 687D8EA4
ES DEBUG: (SAKKE)                P (RFC 6509 Appendix A, page 19) :
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    53FC09EE 332C29AD 0A799005 3ED9B52A
ES DEBUG: (SAKKE)                    2B1A2FD6 0AEC69C6 98B2F204 B6FF7CBF
ES DEBUG: (SAKKE)                    B5EDB6C0 F6CE2308 AB10DB90 30B09E10
ES DEBUG: (SAKKE)                    43D5F22C DB9DFA55 718BD9E7 406CE890
ES DEBUG: (SAKKE)                    9760AF76 5DD5BCCB 337C8654 8B72F2E1
ES DEBUG: (SAKKE)                    A702C339 7A60DE74 A7C1514D BA66910D
ES DEBUG: (SAKKE)                    D5CFB4CC 80728D87 EE9163A5 B63F73EC
ES DEBUG: (SAKKE)                    80EC46C4 967E0979 880DC8AB EAE63895
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    0A824906 3F6009F1 F9F1F053 3634A135
ES DEBUG: (SAKKE)                    D3E82016 02990696 3D778D82 1E141178
ES DEBUG: (SAKKE)                    F5EA69F4 654EC2B9 E7F7F5E5 F0DE55F6
ES DEBUG: (SAKKE)                    6B598CCF 9A140B2E 416CFF0C A9E032B9
ES DEBUG: (SAKKE)                    70DAE117 AD547C6C CAD696B5 B7652FE0
ES DEBUG: (SAKKE)                    AC6F1E80 164AA989 492D979F C5A4D5F2
ES DEBUG: (SAKKE)                    13515AD7 E9CB99A9 80BDAD5A D5BB4636
ES DEBUG: (SAKKE)                    ADB9B570 6A67DCDE 75573FD7 1BEF16D7
ES DEBUG: (SAKKE)                Z (RFC 6508 Appendix A, page 16):
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    5958EF1B 1679BF09 9B3A030D F255AA6A
ES DEBUG: (SAKKE)                    23C1D8F1 43D4D23F 753E69BD 27A832F3
ES DEBUG: (SAKKE)                    8CB4AD53 DDEF4260 B0FE8BB4 5C4C1FF5
ES DEBUG: (SAKKE)                    10EFFE30 0367A37B 61F701D9 14AEF097
ES DEBUG: (SAKKE)                    24825FA0 707D61A6 DFF4FBD7 273566CD
ES DEBUG: (SAKKE)                    DE352A0B 04B7C16A 78309BE6 40697DE7
ES DEBUG: (SAKKE)                    47613A5F C195E8B9 F328852A 579DB8F9
ES DEBUG: (SAKKE)                    9B1D0034 479EA9C5 595F47C4 B2F54FF2
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    1508D375 14DCF7A8 E143A605 8C09A6BF
ES DEBUG: (SAKKE)                    2C9858CA 37C25806 5AE6BF75 32BC8B5B
ES DEBUG: (SAKKE)                    63383866 E0753C5A C0E72709 F8445F2E
ES DEBUG: (SAKKE)                    6178E065 857E0EDA 10F68206 B63505ED
ES DEBUG: (SAKKE)                    87E534FB 2831FF95 7FB7DC61 9DAE6130
ES DEBUG: (SAKKE)                    1EEACC2F DA3680EA 4999258A 833CEA8F
ES DEBUG: (SAKKE)                    C67C6D19 487FB449 059F26CC 8AAB655A
ES DEBUG: (SAKKE)                    B58B7CC7 96E24E9A 39409575 4F5F8BAE
ES DEBUG: (SAKKE)                [a]P:
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    5301F625 A7A12F62 00127004 3DF71C65
ES DEBUG: (SAKKE)                    7EC86038 0CAA52C1 B01A2AD9 A804741D
ES DEBUG: (SAKKE)                    7411B349 8074F299 EE3FCED2 6F5AF91C
ES DEBUG: (SAKKE)                    7E1D0CE6 EAE8FEE5 8F233454 79FFA481
ES DEBUG: (SAKKE)                    F803D5E8 8C17D34D 7AD20FBD 74523473
ES DEBUG: (SAKKE)                    EB45D9A8 F844F364 A95E2A0D 931C2184
ES DEBUG: (SAKKE)                    E2E1CB69 51F095B8 81196300 C0F0A424
ES DEBUG: (SAKKE)                    4A69C32D CA4FCB82 8F94342C DBC9202B
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    61697730 5075A32A E0988016 D654757F
ES DEBUG: (SAKKE)                    565E1E7E 6BD184FE E44E9D74 B6D541F8
ES DEBUG: (SAKKE)                    B0C95514 404783BD A439F957 F744D2D7
ES DEBUG: (SAKKE)                    CF16874D 815DBF4C 8E551B8B E68DFDE9
ES DEBUG: (SAKKE)                    02073CF4 45D8FC2E 99082428 AE744EF5
ES DEBUG: (SAKKE)                    3FD52F36 E4FE77B0 FDB0E48F B6A3E134
ES DEBUG: (SAKKE)                    A85CE7FC AB4C2CC7 53620014 51B1F441
ES DEBUG: (SAKKE)                    5AA45FA3 DEFC2F1E B59DFF62 167FF0
ES DEBUG: (SAKKE)                [a]P+Z:
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    28F2A581 43D04A77 883CCE4B 3BE61DA4
ES DEBUG: (SAKKE)                    A7802874 A88BA766 63225680 0D66F064
ES DEBUG: (SAKKE)                    2A97427E 6411A5E3 25921E6C 8BC05341
ES DEBUG: (SAKKE)                    156C8888 A53E8BD6 AA6FA922 D2DB5883
ES DEBUG: (SAKKE)                    BBB8DE39 02E87DCB 54C2CBC7 A3294EA7
ES DEBUG: (SAKKE)                    87D4A4C7 5F653877 85B2182F E5BD2C7D
ES DEBUG: (SAKKE)                    EC5DAC6F C4E68DED DBA64F89 3E7F00A0
ES DEBUG: (SAKKE)                    A1D78284 DE784B9F A8845000 D4DB1B06
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    2401C708 EA2329F1 A3135D3B C5BA7425
ES DEBUG: (SAKKE)                    0A642C2A C20A5A59 EEE57305 EB0ABACD
ES DEBUG: (SAKKE)                    A15F6EA9 80E4E1A2 628A8CDB D08103D1
ES DEBUG: (SAKKE)                    6B423FE0 221B4A4A 6A164C9D C0CEDCE8
ES DEBUG: (SAKKE)                    ED11A1AC 3729ED3C 13ABAE1F 0E656959
ES DEBUG: (SAKKE)                    71634385 0DDF3050 86A99F8E D0C85EA3
ES DEBUG: (SAKKE)                    63E908BB 01969B80 95526101 38E73A1D
ES DEBUG: (SAKKE)                    F91C4B20 69306D7A 06A2D8C7 18FB9D00
ES DEBUG: (SAKKE)                RSK:
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    59BCA8C8 BCBD4D8C 9458D9A6 7A54AC54
ES DEBUG: (SAKKE)                    6E169EBA 8BD0B676 A6A27E5F 46CBE869
ES DEBUG: (SAKKE)                    16DAA961 D5EF2520 74ABF2BB 29319A51
ES DEBUG: (SAKKE)                    FD218FB8 B08372CD E3D4E793 AF4EAAF9
ES DEBUG: (SAKKE)                    A42E8540 0B45FF84 6BDA3AA6 97029EE3
ES DEBUG: (SAKKE)                    829EE408 5E8736E2 8E6E3A6E E1F03B31
ES DEBUG: (SAKKE)                    CA926277 AC3890CC 2B056845 9F54913A
ES DEBUG: (SAKKE)                    2106979E 920C7690 8220F539 88A2952A
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    82BEB56C 63248BEB 624B662F DD2C9D05
ES DEBUG: (SAKKE)                    095281DE 770CAA38 AD77F9EE 83673A42
ES DEBUG: (SAKKE)                    9CF4F189 DE14003A BC03E0B6 FBD02F2C
ES DEBUG: (SAKKE)                    5BFEA9BA DB5327F9 D6327BDA 02EBD25B
ES DEBUG: (SAKKE)                    E217094B C8B9CDE6 498401B4 0E515138
ES DEBUG: (SAKKE)                    C4029AFC 3CECA9C5 EBDF663D CFB2773F
ES DEBUG: (SAKKE)                    D508A25A E20D1F49 9D1D559B 8D7779CC
ES DEBUG: (SAKKE)                    889F608A 01811F75 F7F9DA55 687D8EA4
ES DEBUG: (SAKKE)                < [a]P + Z, K_(a,T) >:
ES DEBUG: (SAKKE)                  x:
ES DEBUG: (SAKKE)                    28F2A581 43D04A77 883CCE4B 3BE61DA4
ES DEBUG: (SAKKE)                    A7802874 A88BA766 63225680 0D66F064
ES DEBUG: (SAKKE)                    2A97427E 6411A5E3 25921E6C 8BC05341
ES DEBUG: (SAKKE)                    156C8888 A53E8BD6 AA6FA922 D2DB5883
ES DEBUG: (SAKKE)                    BBB8DE39 02E87DCB 54C2CBC7 A3294EA7
ES DEBUG: (SAKKE)                    87D4A4C7 5F653877 85B2182F E5BD2C7D
ES DEBUG: (SAKKE)                    EC5DAC6F C4E68DED DBA64F89 3E7F00A0
ES DEBUG: (SAKKE)                    A1D78284 DE784B9F A8845000 D4DB1B06
ES DEBUG: (SAKKE)                  y:
ES DEBUG: (SAKKE)                    2401C708 EA2329F1 A3135D3B C5BA7425
ES DEBUG: (SAKKE)                    0A642C2A C20A5A59 EEE57305 EB0ABACD
ES DEBUG: (SAKKE)                    A15F6EA9 80E4E1A2 628A8CDB D08103D1
ES DEBUG: (SAKKE)                    6B423FE0 221B4A4A 6A164C9D C0CEDCE8
ES DEBUG: (SAKKE)                    ED11A1AC 3729ED3C 13ABAE1F 0E656959
ES DEBUG: (SAKKE)                    71634385 0DDF3050 86A99F8E D0C85EA3
ES DEBUG: (SAKKE)                    63E908BB 01969B80 95526101 38E73A1D
ES DEBUG: (SAKKE)                    F91C4B20 69306D7A 06A2D8C7 18FB9D00
ES DEBUG: (SAKKE)                (calculated):
ES DEBUG: (SAKKE)                  24928EE2 1D23A83B 6EA0C26F 6D24F396
ES DEBUG: (SAKKE)                  A0DCDB46 7ED5489F C066A42C 55C495C2
ES DEBUG: (SAKKE)                  E36DC23C 5147EEC2 1827B3C7 F912F6EF
ES DEBUG: (SAKKE)                  196A22D5 41D2FF4F DFCBEB7A DA01CFF6
ES DEBUG: (SAKKE)                  6D5509C8 847EE175 C0A812E6 72F80194
ES DEBUG: (SAKKE)                  90736861 5799B2C3 CAA78E0C 0C35A65B
ES DEBUG: (SAKKE)                  73EF3EB2 C57E5DAE F2CF9F2D A0F41D09
ES DEBUG: (SAKKE)                  044979C1 CB009619 6DFFB622 1183E6F6
ES DEBUG: (SAKKE)                g (RFC 6509 Appendix A, page 20):
ES DEBUG: (SAKKE)                  66FC2A43 2B6EA392 148F1586 7D623068
ES DEBUG: (SAKKE)                  C6A87BD1 FB94C41E 27FABE65 8E015A87
ES DEBUG: (SAKKE)                  371E9474 4C96FEDA 449AE956 3F8BC446
ES DEBUG: (SAKKE)                  CBFDA85D 5D00EF57 7072DA8F 541721BE
ES DEBUG: (SAKKE)                  EE0FAED1 828EAB90 B99DFB01 38C78433
ES DEBUG: (SAKKE)                  55DF0460 B4A9FD74 B4F1A32B CAFA1FFA
ES DEBUG: (SAKKE)                  D682C033 A7942BCC E3720F20 B9B7B040
ES DEBUG: (SAKKE)                  3C8CAE87 B7A0042A CDE0FAB3 6461EA46
ES ERROR: SAKKE Validate RSK, Validation failed <[a]P + Z, K_(a,T)> != g!
ES ERROR: SAKKE Validate RSK, the keyset for the id MUST be revoked!
ES ERROR: User Storage Store User, RSK validation internal failure, check error log!
ES ERROR: (KMS)   Failed to create User <2029-02.tel:12986123>!

    ERROR: User save failed

    UserMenu
    --------
        0 - Return to previous menu
        1 - List Users
        2 - Add User
        3 - Delete User
        4 - List User Details (to send)
    Selection:
```

not sure what exactly yet, but this is 100% user error.